# Example usage

To use `dcdcpy` in a project, first add your environment variables to an `.env` file.

In [5]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [6]:
from dcdcpy import DataConnector
dc = DataConnector()
dc.learning_exercise_fact_v2()

,user_id,exercise_id,course_id,chapter_id,started_at,completed_at,worked_at,xp,nb_seconds
0,246311,178868,4914.0,15497.0,2017-11-08,2019-09-10,2019-06-25,NaN,201
1,292704,669253,14739.0,47186.0,2019-10-28,NaN,2019-10-28,NaN,277
2,628800,42779,1607.0,4139.0,2019-02-11,2019-12-31,2020-04-20,NaN,46
3,628800,39994,1549.0,3935.0,2018-08-07,NaN,2020-03-18,NaN,56
4,628800,570876,9719.0,36148.0,2018-12-16,2018-12-16,2019-01-31,NaN,8
...,...,...,...,...,...,...,...,...,...
237917,2922377,1235840,25474.0,82106.0,2020-12-14,NaN,2021-09-07,NaN,0
237918,2922377,837887,16470.0,50449.0,2019-09-09,NaN,2019-09-09,NaN,4
237919,2922377,974074,18306.0,56768.0,2020-01-07,2020-01-07,2020-01-07,0.0,392
237920,3120696,935073,21394.0,67326.0,2019-09-23,NaN,2019-09-23,NaN,178
237921,2922377,974073,18306.0,56768.0,2020-01-07,2020-01-07,2020-01-07,35.0,394

In [7]:
import dcdcpy

print(dcdcpy.__version__)

0.1.0