# Example usage

To use `dcdcpy` in a project, first add your environment variables to an `.env` file.

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from environs import Env
env = Env()
env.read_env('../.env')

In [1]:
from dcdcpy import DataConnector
dc = DataConnector()
dc.learning_exercise_fact_v2()

,user_id,exercise_id,course_id,chapter_id,started_at,completed_at,worked_at,xp,nb_seconds
0,902939,8263,625.0,1374.0,2017-08-05,NaN,2017-08-05,NaN,3
1,2473140,40050,1550.0,3940.0,2019-05-13,2019-05-13,2019-05-13,50.0,14
2,2010400,1287696,26720.0,87123.0,2021-09-30,2021-09-30,2021-09-30,50.0,30
3,2487250,531,58.0,316.0,2019-08-07,2019-08-13,2019-08-07,NaN,1
4,2473140,568950,13371.0,41362.0,2020-04-04,NaN,2020-04-07,NaN,63
...,...,...,...,...,...,...,...,...,...
237731,837953,14265,735.0,1851.0,2018-01-18,2018-01-18,2018-01-18,100.0,216
237732,1101011,439211,6416.0,20515.0,2018-07-24,NaN,2018-07-24,NaN,12
237733,1101011,318410,6419.0,27102.0,2018-06-21,NaN,2018-06-21,NaN,245
237734,8239940,1202061,25472.0,82098.0,2021-09-10,NaN,2021-09-10,NaN,33
237735,8239940,1019739,22812.0,72431.0,2021-06-11,2021-06-11,2021-09-10,NaN,1

In [6]:
track_content = dc.learning_track_content_fact()
track_content.query("user_id == 9027852")

,user_id,track_version_id,content_id,started_at,completed_at,xp,nb_seconds
90,9027852,3909,course_25475,2021-08-21 15:44:11,2021-08-22 11:32:37,2220.0,7428.0
609,9027852,3909,course_24372,2021-07-30 08:27:46,2021-08-14 14:44:20,2520.0,21415.0
1264,9027852,3909,course_24907,2021-08-14 14:46:30,2021-08-15 12:25:13,2300.0,15392.0

In [11]:
import dcdcpy

print(dcdcpy.__version__)

0.1.0