# Example usage

To use `dcdcpy` in a project, first add your environment variables to an `.env` file.

In [1]:
%load_ext autoreload
%autoreload 2

In [19]:
from environs import Env
env = Env()
env.read_env('../.env')

In [37]:
from dcdcpy import DataConnector
dc = DataConnector('s3')
dc.learning_exercise_fact()

,user_id,exercise_id,date_id,started_at,completed_at,xp,time_spent
0,2551006,178868,20200619,NaN,NaN,NaN,62.0
1,2551006,10105,20190325,NaN,NaN,NaN,25.0
2,2551006,15661,20181025,2018-10-25 11:49:46,2018-10-25 11:49:46,50.0,48.0
3,2551006,1092019,20201013,2020-02-01 08:37:17,2020-02-01 08:37:16,NaN,5.0
4,4560426,1092020,20200227,2020-02-27 21:44:47,2020-02-27 21:44:47,100.0,27.0
...,...,...,...,...,...,...,...
267486,837953,210888,20200818,2020-08-18 18:10:43,2020-08-18 18:10:43,50.0,NaN
267487,837953,650582,20210727,2021-07-27 22:29:57,2021-07-27 22:29:56,50.0,NaN
267488,837953,257100,20210621,2021-06-21 21:29:24,2021-06-21 21:30:00,50.0,NaN
267489,8334424,627651,20211104,2021-11-04 07:15:05,2021-11-04 07:15:04,35.0,NaN
267490,1101011,676893,20190218,2019-02-18 00:53:24,2019-02-18 00:53:28,1.0,NaN

In [38]:
dc.learning_exercise_fact()

,user_id,exercise_id,date_id,started_at,completed_at,xp,time_spent
0,2551006,178868,20200619,NaN,NaN,NaN,62.0
1,2551006,10105,20190325,NaN,NaN,NaN,25.0
2,2551006,15661,20181025,2018-10-25 11:49:46,2018-10-25 11:49:46,50.0,48.0
3,2551006,1092019,20201013,2020-02-01 08:37:17,2020-02-01 08:37:16,NaN,5.0
4,4560426,1092020,20200227,2020-02-27 21:44:47,2020-02-27 21:44:47,100.0,27.0
...,...,...,...,...,...,...,...
267486,837953,210888,20200818,2020-08-18 18:10:43,2020-08-18 18:10:43,50.0,NaN
267487,837953,650582,20210727,2021-07-27 22:29:57,2021-07-27 22:29:56,50.0,NaN
267488,837953,257100,20210621,2021-06-21 21:29:24,2021-06-21 21:30:00,50.0,NaN
267489,8334424,627651,20211104,2021-11-04 07:15:05,2021-11-04 07:15:04,35.0,NaN
267490,1101011,676893,20190218,2019-02-18 00:53:24,2019-02-18 00:53:28,1.0,NaN

In [11]:
import dcdcpy

print(dcdcpy.__version__)

0.1.0